#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  width: 100%;
}

.preview {
  background-color: #fefefe;
  color: #262626;
  display: grid;
  justify-items: start;
  padding-left: 2rem;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0.5px 0.5px 15px #26262671;
  margin-bottom: 2rem;
  max-width: 600px;
}
.preview-panel {
  background-color: #eee;
  display: grid;
  height: 100%;
  width: 100%;
  overflow: scroll;
  max-height: 100vh;
  justify-items: center;
}
form,
fieldset,
.header {
  display: grid;
  align-items: start;
  align-content: start;
}
.header {
  grid-template-columns: auto auto;
  gap: 1rem;
  align-items: center;
}
form {
  background-color: #f5d0f5;
  padding: 1rem;
  gap: 1rem;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  overflow: scroll;
  max-height: 100vh;
}
fieldset {
  background-color: #fae3fa;
}
input {
  max-width: 30ex;
  background-color: #fefefe;
}
.preview > label {
  font-weight: bold;
  padding-left: 1rem;
  border-bottom: #262626 solid 2px;
}
.hide {
  width: 0px;
  visibility: hidden;
}
