#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  width: 100%;
}

.preview {
  background-color: #fefefe;
  color: #262626;
  display: grid;
  justify-items: start;
  padding-left: 2rem;
}
.preview-panel {
  height: 100%;
  width: 100%;
  overflow: scroll;
  max-height: 100vh;
}
form,
fieldset {
  display: grid;
  align-items: start;
  align-content: start;
}
form {
  gap: 1rem;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  overflow: scroll;
  max-height: 100vh;
}
.hide {
  width: 0px;
  visibility: hidden;
}
input {
  max-width: 30ex;
}
.preview > label {
  font-weight: bold;
  padding-left: 1rem;
  border-bottom: #262626 solid 2px;
}
